:root {
  --primary-color: #1a1a1a;
  --secondary-color: #242424;
  --accent-color: #00ff9d;
  --text-color: #ffffff;
  --gradient-1: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 100%);
  --gradient-2: linear-gradient(
    45deg,
    rgba(0, 255, 157, 0.1) 0%,
    rgba(0, 255, 157, 0.2) 100%
  );
  --heading-font: "Raleway", sans-serif;
  --body-font: "Source Sans Pro", sans-serif;
}

body {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  /*----- Glowing border effect  -----*/

  border: 2px solid var(--accent-color); /*----- Solid accent color border -----*/
  box-shadow: 0 0 10px var(--accent-color), 0 0 20px rgba(0, 255, 157, 0.6); /*----- Add a subtle glow -----*/
  transition: box-shadow 0.3s ease-in-out; /*----- Smooth transition for hover effect -----*/
}

.wrapper:hover {
  box-shadow: 0 0 15px var(--accent-color), 0 0 30px rgba(0, 255, 157, 0.8); /* Enhance glow on hover */
}

.neon-text {
  font-family: "Raleway", serif;
  background: var(
    --gradient-2
  ); /*----- Use your gradient for the text background -----*/
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 96px;
  text-shadow: 0 0 3px var(--accent-color), 0 0 8px var(--accent-color),
    0 0 15px rgba(0, 255, 157, 0.8);
  padding: 0 30px 30px 30px;
  margin-top: 10px;
}

.letter {
  display: inline-block;
  opacity: 0; /* Initially hidden */
  color: var(--accent-color);
}

.flicker-slow {
  opacity: 0;
  animation: flicker 3s linear forwards; /*----- Changed to forwards -----*/
}

.flicker-fast {
  animation: flicker 1s linear forwards; /*----- Changed to forwards -----*/
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  99.999% {
    opacity: 0;
    text-shadow: none;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999%,
  100% {
    opacity: 1;
    text-shadow: 0 0 2px var(--accent-color), 0 0 5px var(--accent-color),
      0 0 10px rgba(0, 255, 157, 0.9);
  }
}

#enter-button {
  font-family: "Source Code Pro", serif, monospace;
  font-style: normal;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 50px;
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
  border: none;
  text-shadow: 0 0 3px var(--accent-color), 0 08px var(--accent-color);
}

#enter-button .letter {
  opacity: 0;
  color: var(--accent-color);
}

.no-glow {
  text-shadow: none;
}

/*----- Class for the fade-out effect -----*/
.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out; /*----- Adjust the duration as needed -----*/
}
